html{
    color: #4d4d4d;    
}
body{
    font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
    margin:  0 auto;
    width: 100%;
    height: 100%;
    background: white; 
    justify-content: center;
}

.section-1{
    padding-top: 5em;
    padding-bottom: 6.2em;
    text-align: center;
    display: inline-block;
}
#logo{
    height: 80px;56
    margin-bottom: 2em;
}
h1{
    line-height: 1em;
    font-size: 2.3em;    
    font-weight: bold;
    margin: 0 auto;
    max-width: 900px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}
.p-1{
    margin: 0 auto;
    font-size: 1.3em;
    padding-bottom: 2em;
    padding-top: 1.3em;
    padding-left: 16em;
    padding-right: 16em;
    line-height: 1.3em
}
.button{
    display: inline-block;
    font-weight: bold;
    margin-bottom: .2em;
    padding: .9em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0;
    border-radius: .3em;
    color: white;
    box-shadow: 0 2px 0 #4d4d4d;
}
.button-green{
    background:linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
    box-shadow: 0 2px 0 #3f6f21;
    color: #fff;
}
a.quiet{
    color: #999;
    font-size: 20px;
}

a{
    background: transparent;
}

.section-2{
    background: #0079bf;
    color: #fff;
    padding-bottom: 2em;
    display: inline-block;
}
#p-2-1{
    font-size: 20px;
    color: white;
    padding-left: 18em;
    padding-right: 18em;
    padding-bottom: 3em;
    padding-top: 3em;
    line-height: 1.4em;
}

#img-2{
    width: 1200px;
    height: 620px;
    margin: 0 auto;
    display: block;
}
.p2-2{
    font-size: 20px;
    color: white;
    padding-left: 18em;
    padding-right: 18em;
    padding-bottom: 1em;
    text-align: left;
    line-height: 1.4em;
}

.section-3{
    display: inline-block;
}
.p-3{
    font-size: 20px;
    color: black;
    padding-left: 18em;
    padding-right: 18em;
    padding-bottom: .5em;
    padding-top: 2em;
    line-height: 1.4em;
}
#img-3{
    width: 100%;
    height: 100%;
    text-align: center;
}
.button-3{
    border: 1px solid;
    border-radius: .3em;
    display: inline-block;
    margin: 1em 0;
    padding: .6em 1em;
    text-decoration: none;
    text-decoration-color: #5e98ba;
}

.section-4{
    background: #e4f0f6;
    padding-bottom: 3em;
    display: inline-block;
}
.p-4-1{
   font-size: 20px;
    padding-left: 12em;
    padding-right: 25em;
    padding-bottom: 1em;
    padding-top: 5em;
    text-align: left;
    line-height: 1.8em; 
}
#img-4-0{
    width: 35%;
    float: right; 
    padding-top: 3em;
}
.buttons{
    margin: 5 auto;
    padding-left: 15em;
}
.p-ver{
    padding-left: 14em;
}
#img-4-store{
    height: 54px;
    margin-left: 0 auto;
}
#img-4-play{
    width: 170px;
    height: 55px;
    padding-left: 1em;
}
.button-4{
    margin: .8em 0 0;
    border: 1px solid;
    border-radius: .3em;
    display: inline-block;
    margin: 1em;
    padding: .9em 1em;
    text-decoration: none;
    color: #5e98ba;
}

.section-5{
    padding-bottom: 3em;
    display: inline-block;
}
.img-5-0{
    width: 25%;
    float: right;
    text-align: center;
    padding-top: 3em;
    padding-right: 12em;
}
.p-5{
    padding-left: 12em;
    padding-top: 5em;
    padding-right: 28em;
    font-size: 20px;
    line-height: 1.8;
}

.section-6{
    background: #0079bf;
    padding-bottom: 13em;
    display: inline-block;
}
.p-6{
    font-size: 20px;
    line-height: 1.8;
    color: white;
    padding-top: 5em;
    text-align: center;
    padding-bottom: 2em;
}
.imagenes-6{
    display: inline-block;
    margin: 0 1em 1em;
    height: 30px;
    padding-left: 4em;
    padding-right: 4em;
    line-height: 4em;
    vertical-align: middle;
    text-align: center;
}
.img-6-1{
    padding-left: 2em;
}
.img-6-2{
    padding-left: 2em;
}
.img-6-3{
    padding-left: 2em;
}
.img-6-4{
    padding-left: 2em;
}
.img-6-5{
    padding-left: 2em;
}
.img-6-6{
    padding-left: 2em;
}
.img-6-7{
    padding-left: 2em;
}
.img-6-8{
    padding-left: 2em;
}
.img-6-9{
    padding-left: 2em;
}

.section-7{
    background: #42548e;
    padding-bottom: 5em;
    display: inline-block;
    width: 100%;
}
.img-7{
    width: 26em;
    height: 220px;
    margin: 0 auto;
    padding-left: 8em;
    padding-top: 3.2em;
    float: left;
}
.p-7{
    width: 50%;
    float: right;
    color: white;
    line-height: 1.8em;
    font-size: 20px;
    padding-top: 3.7em;
    padding-right: 6em;
}
.button-7{
    font-size: 20px;
    border: 1px solid;
    border-color: white;
    border-radius: .3em;
    display: inline-block;
    margin: .6em 0;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

.section-8{
    padding-bottom: 6em;
    display: inline-block;
}
.div-8{
    text-align: center;
}
.p-8{
    text-align: center;
    line-height: 1.8em;
    font-size: 20px;
    padding-top: 3em;
    text-align: center;
    padding-left: 22em;
    padding-right: 22em;
}
.button-8 {
    background: #61bd4f;
    box-shadow: 0 2px 0 #3f6f21;
    color: #fff;
    font-size: 18px;
    padding: .6em;
    border-radius: .3em;
}


.section-9{
    background: #0079bf;;
    padding-bottom: 3em;
    display: inline-block;
    width: 100%;
}
.div-9{
    width: 40%;
    float: left;
}
.div-9-2{
    width: 60%;
    float: right;
}
.p-9{
    line-height: 1.8em;
    font-size: 20px;
    color: white;
    padding-top: 4em;
    padding-right: 19em;
}
.img-9{
    padding-left: 20em;
    padding-top: 2em;
}


.menu{
    color: #999;    
}
footer{
    font-size: .8em;
    margin: 4em 1em;
    text-align: center;
    line-height: 1.8em;
    font-size: 17px;
    padding-left: 2em;
    padding-right: 2em;
}
footer ul{
    list-style: none;
    margin: .5em 0 0;
    padding: 0;
    color: #999;
}
footer li{
    display: inline-block;
    margin: 0 .4em;
    list-style: none;
}
footer li a{
    color: #999;
}
